
body { 
    animation: fadeInAnimation ease 1s; animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    font-family: 'Montserrat', sans-serif;
    height:100%;
    background-image: url(images/background.jpg);
    background-size: 120%;
} 

  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 